html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0d1117;
}

#root {
  width: 100%;
  max-width: none;
}

.table {
  transition: transform 0.2s, background-color 0.2s;
}

.table:hover {
  transform: scale(1.1);
  background-color: #3b82f6;
}
